.MuiCircularProgress-root {
  margin-left: 15px;
}
.CentreLoadingIndicator {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #001a33 !important;
}
.narrow-plain-header {
  border: solid 1px #f2f2f2;
  background-color: #001a33;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}
.plain-header {
  border: solid 1px #f2f2f2;
  background-color: #001a33;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.brew-add-menu {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 10px;
}
.brew-add-grid {
  display: grid;
  grid-template-columns: 1fr 85px 55px;
  grid-template-rows: auto auto auto;
  margin-bottom: 20px;
  margin-right: 5px;
}
.brew-add-title {
  grid-column: 1 / span 2;
  grid-row: 1;
  overflow: hidden;
  white-space: nowrap;
}
.brew-add-favourite {
  grid-column: 3;
  grid-row: 1;
  margin-top: 5px;
  text-align: right;
}
.brew-add-type {
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 8px;
}
.brew-add-expected-abv {
  grid-column: 2 / span 2;
  grid-row: 2;
  margin-bottom: 8px;
  text-align: right;
}
.brew-add-description {
  grid-column: 1 / span 3;
  grid-row: 3;
  height: auto;
  white-space: normal;
  word-wrap: break-word;
}
.grid-brewed-detail {
  padding-top: 10px;
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
}
.grid-brewed-detail-edit {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 40px 100px 100px;
}
.grid-brewed-detail-edit-name {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding-top: 5px;
}
.grid-brewed-detail-edit-rating {
  display: flex;
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  justify-content: flex-end;
}
.grid-brewed-detail-edit-images {
  display: flex;
  grid-column: 1;
  grid-row: 2 / span 2;
  overflow: hidden;
  content: contain;
  align-items: center;
  justify-content: center;
}
.grid-brewed-detail-edit-images img {
  height: 200px;
  width: auto;
}
.grid-brewed-detail-edit-type {
  grid-column: 2;
  grid-row: 2;
  padding-top: 30px;
}
.grid-brewed-detail-edit-abv {
  grid-column: 2;
  grid-row: 3;
  padding-top: 30px;
}
.brewed-beer-recipe {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
}
.brewed-beer-recipe-description {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.brewed-beer-recipe-type {
  grid-column: 1;
  grid-row: 2;
  margin-top: 10px;
}
.brewed-beer-recipe-expected-abv {
  grid-column: 2;
  grid-row: 2;
  margin-top: 10px;
}
.brewed-beer-recipe-ingredients-water-profile {
  grid-column: 1 / span 2;
  grid-row: 3;
}
.brewed-beer-recipe-steps {
  grid-column: 1 / span 2;
  grid-row: 4;
}
.brewed-beer-water-profile-item {
  margin-top: 5px;
}
.brewed-beer-ingredient-item {
  margin-top: 5px;
}
.brewed-beer-tasting-note-details-container {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-rows: auto;
}
.brewed-beer-tasting-note-details-container-note {
  grid-column: 1;
  grid-row: 1;
}
.brewed-beer-tasting-note-details-container-delete {
  grid-column: 2;
  grid-row: 1;
}
.brewed-beer-tasting-note-new {
  color: white;
  float: right;
  padding-right: 5px;
  padding-top: 10px;
}
.brewed-beer-tasting-note-date {
  font-size: 10px;
  margin-right: 5px;
  margin-top: 10px;
  text-align: right;
}
.brewed-beer-tasting-notes {
  max-height: 300px;
  overflow-y: auto;
}
.brewed-beer-add-tasting-note-container {
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: auto auto;
}
.brewed-beer-add-tasting-note-note {
  grid-column: 1;
  grid-row: 1;
}
.brewed-beer-add-tasting-note-date {
  grid-column: 2;
  grid-row: 1;
}
.brewed-beer-add-tasting-note-buttons {
  display: flex;
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.button-style {
  min-width: 75;
  padding-left: 10px;
}
.brewing-summary-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  max-height: 500px;
}
.brew-summary-container-steps {
  grid-column: 1;
  grid-row: 1;
}
.brew-summary-container-notes {
  grid-column: 2;
  grid-row: 1;
}
.brew-summary-steps-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  margin-bottom: 10px;
}
.brew-summary-completion-step {
  grid-column: 1;
  grid-row: 1;
}
.brew-summary-completion-button {
  grid-column: 2;
  grid-row: 1;
  margin-left: 10px;
  margin-right: 10px;
  width: 130px;
}
.brew-summary-steps-container-mobile {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin-bottom: 10px;
}
.brew-summary-completion-step-mobile {
  grid-column: 1;
  grid-row: 1;
}
.brew-summary-completion-button-mobile {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}
.grid-brew-summary-link-indicator a {
  color: black;
  display: block;
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
}
.grid-brew-summary-link-indicator :hover {
  background-color: #dff1ff;
}
.grid-brew-summary {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.grid-brew-summary-title {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  grid-template-rows: auto auto;
}
.grid-brew-summary-title-beer-title {
  grid-column: 1;
  grid-row: 1;
}
.grid-brew-summary-title-beer-brewdate {
  grid-column: 1;
  grid-row: 2;
}
.grid-brew-summary-title-beer-type {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.grid-brew-summary-title-beer-favourite {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.grid-brew-summary-detail {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 100px;
  overflow: hidden;
}
.grid-brew-summary-image {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.grid-brew-summary-description-text {
  grid-column: 2;
  grid-row: 1;
  overflow: hidden;
}
.grid-brew-summary-tastingNotes-text {
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
}
.brew-summary-mobile-item-grid {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: auto auto auto 75px auto;
  margin-bottom: 5px;
}
.brew-summary-mobile-item-grid-title {
  grid-column: 1 / span 2;
  grid-row: 1;
  overflow: hidden;
  white-space: nowrap;
}
.brew-summary-mobile-item-grid-rating {
  grid-column: 3;
  grid-row: 1;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}
.brew-summary-mobile-item-grid-type {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin-bottom: 5px;
}
.brew-summary-mobile-item-grid-brewdate {
  grid-column: 3;
  grid-row: 2;
  text-align: right;
  margin-right: 2px;
  margin-top: 5px;
}
.brew-summary-mobile-item-grid-image {
  grid-column: 1;
  grid-row: 4;
}
.brew-summary-mobile-item-grid-image-size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.brew-summary-mobile-item-grid-description {
  grid-column: 2 / span 2;
  grid-row: 4;
}
.brew-summary-mobile-item-grid-notes {
  grid-column: 1 / span 3;
  grid-row: 5;
}
.header {
  cursor: pointer;
  border: solid 1px #f2f2f2;
  background-color: #001a33;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.content {
  cursor: pointer;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  font-size: 14px;
}
.double-collapsible-panel {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 50% 50%;
}
.double-collapsible-panel-left-column {
  grid-column: 1;
}
.double-collapsible-panel-right-column {
  grid-column: 2;
}
.expander-top-right {
  float: right;
}
.main-menu {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 75px;
  background-image: url(../resources/grain.jpg);
  background-size: 50%;
  background-position: 0px 35%;
}
.main-menu div {
  display: flex;
  font-size: 35px;
  justify-content: center;
  align-items: center;
}
.main-menu-brews {
  grid-column: 2;
}
.main-menu-brews :hover {
  border-color: #001a33;
  color: #001a33;
}
.main-menu-recipes {
  grid-column: 3;
}
.main-menu-recipes :hover {
  border-color: #001a33;
  color: #001a33;
}
.main-menu-water {
  grid-column: 4;
}
.main-menu-water :hover {
  border-color: #001a33;
  color: #001a33;
}
.main-menu-button {
  background-color: rgba(211, 211, 211, 0.4);
  border: 2.5px solid #dff1ff;
  border-radius: 3px;
  color: #dff1ff;
  display: flex;
  padding: 3px;
}
.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 15px 5px 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 300px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}
._modal-titlebar-container {
  display: grid;
  grid-template-columns: 1fr 40px;
}
._modal-titlebar-container-small {
  display: grid;
  grid-template-columns: 1fr 25px;
}
._modal-title {
  grid-column: 1;
  grid-row: 1;
  color: #001a33;
}
._modal-close {
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  grid-column: 2;
  grid-row: 1;
  width: 40px;
  height: 40px;
}
._modal-close-small {
  top: 0;
  right: 0;
  padding: 0.3em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  grid-column: 2;
  grid-row: 1;
  width: 25px;
  height: 25px;
}
._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: #001a33;
  stroke-linecap: round;
  stroke-width: 2;
}
._modal-close-icon-small {
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: #001a33;
  stroke-linecap: round;
  stroke-width: 2;
}
.modal-body {
  padding: 5px 5px 5px 5px;
  white-space: pre-wrap;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}
.progressBarProgress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  background: #001a33;
  z-index: 100;
}
.progressBarText {
  margin-left: 15px;
}
.recipe-detail {
  padding-top: 10px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 15px;
}
.recipe-detail-title-container {
  display: grid;
  grid-template-columns: 85% 15%;
}
.recipe-detail-title {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.recipe-detail-favourite {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  padding-right: 5px;
  z-index: 1;
}
.edit-page-indicator-container {
  display: grid;
  grid-template-columns: 1fr 20px 20px 20px 1fr;
  column-gap: 3px;
  color: #001a33;
}
.edit-page-indicator-page1 {
  grid-column: 2;
}
.edit-page-indicator-page2 {
  grid-column: 3;
}
.edit-page-indicator-page3 {
  grid-column: 4;
}
.edit-page-container {
  margin: 10px 0px 10px 0px;
}
.edit-page-container-item {
  margin: 15px 0px 10px 0px;
}
.edit-page-recipe-ingredient-container {
  display: grid;
  grid-template-columns: 1fr 33px 33px;
  padding-bottom: 8px;
}
.edit-page-recipe-ingredient {
  grid-column: 1 / span 3;
  grid-row: 1;
}
.edit-button {
  text-align: center;
  padding-right: 5px;
  z-index: 1;
  grid-column: 2;
  grid-row: 1;
}
.ingredient-cancel-button {
  grid-column: 3;
  grid-row: 1;
  align-items: center;
  align-self: center;
  display: flex;
  height: 31px;
  justify-content: center;
  width: 31px;
  z-index: 1;
}
.step-cancel-button {
  grid-column: 4;
  grid-row: 1;
  align-items: center;
  align-self: center;
  display: flex;
  height: 31px;
  justify-content: center;
  width: 31px;
  z-index: 1;
}
.new-ingredient {
  grid-column: 1;
  grid-row: 1;
}
.button-border {
  border: solid 1px #b4b4b4;
}
.edit-ingredient-container {
  grid-column: 0 / span 3;
  display: grid;
  grid-template-columns: 1fr 75px;
  grid-template-rows: auto auto;
  border-collapse: separate;
  border: solid 1px #b4b4b4;
  border-radius: 6px;
  -moz-border-radius: 6px;
  margin-bottom: 10px;
  width: 98%;
}
.new-ingredient-container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 75px;
  grid-template-rows: auto auto;
  margin-top: 5px;
  width: 98%;
}
.inline-edit-button-container {
  grid-row: 2;
  grid-column: 1 / span 3;
  text-align: right;
}
.inline-edit-button {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  max-width: 100px;
}
.inline-edit-recipe-container {
  grid-row: 1;
  grid-column: 1 / span 2;
}
.inline-edit-recipe-name {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  max-width: 45%;
}
.inline-edit-recipe-type {
  display: inline-block;
  grid-row: 1;
  grid-column: 2;
  position: relative;
  margin-top: 5px;
  max-width: 15%;
}
.inline-edit-recipe-amount {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  max-width: 15%;
}
.inline-edit-recipe-unit {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  max-width: 10%;
}
.test-group-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-collapse: separate;
  border: solid 1px #b4b4b4;
  border-radius: 6px;
  -moz-border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.test-group-container-header {
  margin-top: -106px;
  margin-left: 8px;
  margin-bottom: 0px;
  background-color: white;
  padding-left: 3px;
  padding-right: 3px;
  width: fit-content;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #696161;
}
.edit-page-recipe-title-container {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  border-bottom: solid 1px #b4b4b4;
  color: #b4b4b4;
  font-size: 20px;
}
.edit-page-recipe-step-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50px 50px 33px;
  padding-bottom: 8px;
}
.edit-page-recipe-step-container-description {
  grid-column: 1;
}
.edit-page-recipe-step-container-timer {
  grid-column: 2;
}
.edit-page-recipe-step-container-timer-unit {
  grid-column: 3;
}
.new-step-container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 55px;
  grid-template-rows: auto auto;
  margin-top: 5px;
  width: 98%;
}
.edit-step-container {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 55px 50px;
  grid-template-rows: auto auto;
  margin-top: 5px;
  width: 98%;
}
.inline-edit-step-description {
  display: inline-block;
  position: relative;
  grid-row: 1;
  grid-column: 1;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
.inline-edit-step-timer {
  display: inline-block;
  position: relative;
  grid-row: 1;
  grid-column: 2;
  margin-right: 5px;
}
.inline-edit-step-timer-unit {
  align-self: flex-end;
  display: flex;
  grid-row: 1;
  grid-column: 3;
  margin-bottom: 9px;
  margin-right: 5px;
}
.recipe-grid-container {
  display: grid;
  grid-template-columns: 1fr 75px 20px;
  grid-template-rows: auto auto;
  margin-bottom: 5px;
}
.recipe-grid-container-step {
  grid-row: 1;
  grid-column: 1;
  font-weight: bold;
}
.recipe-grid-container-description {
  grid-row: 2;
  grid-column: 1;
}
.recipe-grid-container-timer {
  grid-row: 2;
  grid-column: 2;
  text-align: right;
  margin-right: 5px;
}
.recipe-grid-container-timer-icon {
  grid-row: 2;
  grid-column: 3;
  margin-right: 3px;
}
.edit-ingredient-values {
  display: grid;
  grid-template-columns: 1fr 60px 45px 90px;
  grid-template-rows: auto auto;
  column-gap: 3px;
  margin-right: 3px;
}
.edit-ingredient-value-name {
  grid-column: 1;
  grid-row: 1;
}
.edit-ingredient-value-amount {
  grid-column: 2;
  grid-row: 1;
}
.edit-ingredient-value-unit {
  grid-column: 3;
  grid-row: 1;
}
.edit-ingredient-value-type {
  grid-column: 4;
  grid-row: 1;
}
.edit-ingredient-value-buttons-container {
  grid-column: 1 / span 4;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto;
}
.edit-ingredient-value-buttons-cancel {
  grid-column: 2;
  grid-row: 1;
}
.edit-ingredient-value-buttons-submit {
  grid-column: 3;
  grid-row: 1;
}
.step-edit-readonly-container {
  display: grid;
  grid-template-columns: auto 1fr 45px 35px;
  grid-template-rows: auto auto auto;
  margin-bottom: 3px;
}
.step-edit-readonly-index {
  grid-column: 1;
  grid-row: 1;
  margin-top: 2px;
  margin-right: 5px;
}
.step-edit-readonly-description {
  grid-column: 2 / span 2;
  grid-row: 1;
}
.step-edit-readonly-delete {
  grid-column: 4;
  grid-row: 1;
}
.step-edit-readonly-duration {
  grid-column: 3 / span 2;
  grid-row: 2;
}
.step-edit-readonly-duration-container {
  display: grid;
  grid-template-columns: 1fr 60px 18px;
  grid-template-rows: auto;
}
.step-edit-readonly-duration-value {
  grid-column: 2;
  grid-row: 1;
  font-size: 14px;
  color: darkgrey;
  margin-top: 3px;
}
.step-edit-readonly-duration-icon {
  grid-column: 3;
  grid-row: 1;
}
.step-edit-readonly-ingredients {
  grid-column: 2 / span 2;
  grid-row: 3;
}
.step-edit-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto;
  column-gap: 3px;
  margin-bottom: 3px;
}
.step-edit-index {
  grid-column: 1;
  grid-row: 1;
  margin-top: 2px;
  margin-right: 5px;
}
.step-edit-description {
  grid-column: 2;
  grid-row: 1;
}
.step-edit-ingredients {
  grid-column: 2;
  grid-row: 2;
}
.step-edit-duration-container {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: auto 1fr 90px;
  grid-template-rows: auto;
}
.step-edit-buttons {
  grid-column: 2;
  grid-row: 4;
}
.step-edit-ingredients-container {
  display: grid;
  grid-template-columns: 1fr 70px 70px 70px auto;
  grid-template-rows: auto;
  margin: 0px 0px 5px 0px;
}
.step-edit-ingredients-name-readonly {
  grid-column: 1 / span 4;
  grid-row: 1;
  min-height: auto;
  line-height: 32px;
}
.step-edit-ingredients-name {
  grid-column: 1;
  grid-row: 1;
}
.step-edit-ingredients-amount {
  grid-column: 2;
  grid-row: 1;
}
.step-edit-ingredients-unit {
  grid-column: 3;
  grid-row: 1;
}
.step-edit-ingredients-type {
  grid-column: 4;
  grid-row: 1;
}
.step-edit-ingredients-delete {
  grid-column: 5;
  grid-row: 1;
}
.step-edit-duration-type {
  grid-column: 1;
  grid-row: 1;
}
.grid-edit-duration-value {
  grid-column: 3;
  grid-row: 1;
}
.step-new-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto;
}
.step-new-container-surround {
  border-collapse: separate;
  border: solid 1px #b4b4b4;
  border-radius: 6px;
  -moz-border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-top: 5px;
  padding-left: 5px;
}
.step-new-container-header {
  margin-bottom: 0px;
  background-color: white;
  padding-left: 3px;
  padding-right: 3px;
  width: fit-content;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #696161;
}
.step-new-description {
  grid-column: 1;
  grid-row: 1;
}
.step-new-ingredients {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.step-new-ingredient-container {
  grid-column: 1;
  grid-row: 1;
}
.step-new-ingredient-display {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  margin: 0px 3px 3px 15px;
}
.step-new-ingredient-display-details {
  grid-column: 1;
  grid-row: 1;
}
.step-new-ingredient-display-delete {
  grid-column: 2;
  grid-row: 1;
}
.step-new-ingredient-add {
  grid-column: 1;
  grid-row: 2;
}
.step-new-duration {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-columns: 150px 100px;
  grid-template-rows: auto;
}
.step-new-duration-type {
  grid-column: 1;
  grid-row: 1;
}
.step-new-duration-value {
  grid-column: 2;
  grid-row: 1;
}
.step-new-commands {
  grid-column: 1 / span 2;
  grid-row: 4;
  display: flex;
  justify-content: flex-end;
}
.recipe-title-size {
  font-size: 20px;
}
.recipe-summary-date {
  font-size: 10px;
  color: darkgrey;
}
.recipe-summary-beer-image-size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.recipe-summary-container {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  grid-template-rows: 40px 100px;
  padding-top: 10px;
}
.recipe-summary-name {
  grid-column: 1;
  grid-row: 1;
}
.recipe-summary-type {
  grid-column: 2;
  grid-row: 1;
}
.recipe-summary-favourite {
  grid-column: 3;
  grid-row: 1;
  padding-right: 5px;
  text-align: right;
}
.recipe-summary-description {
  grid-column: 1 / span 3;
  grid-row: 2;
  overflow: hidden;
}
.recipe-summary-mobile-item-grid {
  display: grid;
  grid-template-columns: 1fr 55px;
  grid-template-rows: auto auto auto;
  margin-bottom: 5px;
}
.recipe-summary-mobile-item-grid-title {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  white-space: nowrap;
}
.recipe-summary-mobile-item-grid-favourite {
  grid-column: 2;
  grid-row: 1;
  margin-top: 5px;
  text-align: right;
}
.recipe-summary-mobile-item-grid-type {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin-bottom: 8px;
}
.recipe-summary-mobile-item-grid-description {
  grid-column: 1 / span 2;
  grid-row: 3;
  margin-bottom: 25px;
}
.water-profile-name {
  color: '@primaryColour';
  font-size: 20px;
  margin-bottom: 5px;
}
.water-profile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 5px;
}
.water-profile-container > div::before {
  content: '';
  padding-bottom: 15%;
  display: block;
}
.water-profile-summary-container {
  padding-left: 5px;
}
.water-profile-summary-name {
  margin-top: 10px;
}
.bodyStyle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-top: 75px;
  height: calc(100vh - 75px);
  overflow-y: scroll;
}
.brewAddContainer {
  height: calc(100vh - 300px);
  overflow-y: scroll;
  margin-bottom: 20px;
}
