// main: ./atomicStyling.less

@import 'extend';

.grid-brew-summary-link-indicator {
  @summary-table();
}

.grid-brew-summary {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.grid-brew-summary-title {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  grid-template-rows: auto auto;
}

.grid-brew-summary-title-beer-title {
  grid-column: 1;
  grid-row: 1;
}

.grid-brew-summary-title-beer-brewdate {
  grid-column: 1;
  grid-row: 2;
}

.grid-brew-summary-title-beer-type {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.grid-brew-summary-title-beer-favourite {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-brew-summary-detail {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 100px;
  overflow: hidden;
}

.grid-brew-summary-image {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.grid-brew-summary-description-text {
  grid-column: 2;
  grid-row: 1;
  overflow: hidden;
}

.grid-brew-summary-tastingNotes-text {
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
}

// Mobile

.brew-summary-mobile-item-grid {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: auto auto auto 75px auto;
  margin-bottom: 5px;
}

.brew-summary-mobile-item-grid-title {
  grid-column: 1 / span 2;
  grid-row: 1;
  overflow: hidden;
  white-space: nowrap;
}

.brew-summary-mobile-item-grid-rating {
  grid-column: 3;
  grid-row: 1;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.brew-summary-mobile-item-grid-type {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin-bottom: 5px;
}

.brew-summary-mobile-item-grid-brewdate {
  grid-column: 3;
  grid-row: 2;
  text-align: right;
  margin-right: 2px;
  margin-top: 5px;
}

.brew-summary-mobile-item-grid-image {
  grid-column: 1;
  grid-row: 4;
}

.brew-summary-mobile-item-grid-image-size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.brew-summary-mobile-item-grid-description {
  grid-column: 2 / span 2;
  grid-row: 4;
}

.brew-summary-mobile-item-grid-notes {
  grid-column: 1 / span 3;
  grid-row: 5;
}
