// main: ./atomicStyling.less

.progressBarProgress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  background: @primaryColour;
  z-index: 100;
}

.progressBarText {
  margin-left: 15px;
}
