.grid-page {
    display: grid;
    width: 95%;
    margin: auto;
    grid-template-columns: repeat(1, 100%);
}

.grid-page-column {
    padding: 5px;
}

.grid-brew-summary {
    display: grid;
    width: 100%;
    margin: auto;
}

.grid-brew-summary-column {
    padding: 5px;
}

.grid-brew-summary-title {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(3, 60% 30% 10%);
}

.grid-brew-summary-title-column {
    padding: 5px;
}

.grid-brew-summary-detail {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: [col1-start] 200px [col2-start] auto [col2-end];
    grid-template-rows: [row1-start] 100px [row2-start] 100px [row2-end];
}

.grid-brew-summary-detail-column {
    padding: 5px;
}

.grid-brew-summary-image {
    grid-column: col1-start / col2-start;
    grid-row: row1-start / row2-end;
}

.grid-brew-summary-description-text {
    grid-column: col2-start;
    grid-row: row1-start;
}

.grid-brew-summary-tastingNotes-text {
    grid-column: col2-start;
    grid-row: row2-start;
}

.grid-brew-summary-detail-text-row {
    padding: 5px;
}

.app-default-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe-title-size {
    font-size: 20px;
}

.recipe-title-colour {
    color: black;
}

.recipe-summary-size {
    font-size: 12px;
}

.recipe-summary-colour {
    color: black;
}

.recipe-summary-image-size {
    height: 200px;
    width: 200px;
}

.recipe-summary-desc-height{
    height: 90px;
}

.recipe-summary-notes-height{
    height: 90px;
}

.recipe-summary-favourite-size {
    height: 35px;
    width: 35px;
}

.recipe-summary-beer-image-size {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.grid-brewed-detail {
    display: grid;
    width: 100%;
    margin: auto;
}

.grid-brewed-detail-column {
    padding: 5px;
}

.grid-brewed-detail-title {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col4-start] 40px [col4-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.grid-brewed-detail-title-text {
    grid-column: col1-start / col2-start;
    grid-row: row1-start;
}

.grid-brewed-detail-type-text {
    grid-column: col2-start / col3-start;
    grid-row: row1-start;
}

.grid-brewed-detail-ABV-text {
    grid-column: col3-start / col4-start;
    grid-row: row1-start;
}

.grid-brewed-detail-favourite-image {
    grid-column: col4-start / col4-end;
    grid-row: row1-start / row2-end;
}

.grid-brewed-detail-brewdate-text {
    grid-column: col1-start / col3-start;
    grid-row: row2-start;
}

.grid-brewed-detail-description {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: [col1-start] 100px [col2-start] calc(100% - 100px) [col2-end];
}

.grid-brewed-detail-image {
    grid-column: col1-start / col2-start;
}

.grid-brewed-detail-image-size {
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
}

.grid-brewed-detail-description-text {
    grid-column: col2-start;
    text-align: justify;
}

.grid-brewed-detail-recipe {
    display: grid;
    width: 100%;
    margin: auto;
}

.grid-brewed-detail-tasting {
    display: grid;
    width: 100%;
    margin: auto;
}

.header {
    cursor: pointer;
    border: solid 1px #f2f2f2;
    padding: 15px;
    background-color: #0089CC;
    color: #FFF;
}

.content {
    cursor: pointer;
    border-left: solid 1px #f2f2f2;
    border-right: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    font-size: 14px;
}