.grid-page {
  display: grid;
  width: 95%;
  margin: 10px;
  grid-template-columns: 100%;
}

.grid-page-column {
  padding: 5px;
}

.grid-brew-summary-link-indicator > a {
  display: block;
  text-decoration: none;
}

.grid-brew-summary-link-indicator > a:hover {
  background-color: rgb(245, 250, 250);
}

.grid-brew-summary {
  display: grid;
  width: 100%;
  margin: 10px;
}

.grid-brew-summary-column {
  padding: 5px;
  width: 100%;
}

.grid-brew-summary-title {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 60% 30% 10%;
  grid-template-rows: auto auto;
}

.grid-brew-summary-title-column {
  padding: 5px;
  width: 100%;
}

.grid-brew-summary-title-beer-title {
  grid-column: 1;
  grid-row: 1;
  margin: 0px;
}

.grid-brew-summary-title-beer-brewdate {
  grid-column: 1;
  grid-row: 2;
}

.grid-brew-summary-title-beer-type {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.grid-brew-summary-title-beer-favourite {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-brew-summary-detail {
  display: grid;
  width: 100%;
  margin: 10px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 100px;
}

.grid-brew-summary-detail-column {
  padding: 5px;
}

.grid-brew-summary-image {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.grid-brew-summary-description-text {
  grid-column: 2;
  grid-row: 1;
  overflow: hidden;
}

.grid-brew-summary-tastingNotes-text {
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
}

.grid-brew-summary-detail-text-row {
  padding: 5px;
}

.app-default-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe-title-size {
  font-size: 20px;
}

.recipe-summary-date {
  font-size: 8px;
  color: darkgrey;
}

.recipe-title-colour {
  color: black;
}

.recipe-summary-size {
  font-size: 12px;
}

.recipe-summary-colour {
  color: black;
}

.recipe-summary-image-size {
  height: 200px;
  width: 200px;
}

.recipe-summary-desc-height {
  height: 90px;
}

.recipe-summary-notes-height {
  height: 90px;
}

.recipe-summary-favourite-size {
  height: 35px;
  width: 35px;
}

.recipe-summary-beer-image-size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.grid-brewed-detail {
  display: grid;
  width: 100%;
  margin: auto;
}

.grid-brewed-detail-column {
  padding: 5px;
}

.grid-brewed-detail-edit {
  display: grid;
  width: auto;
  margin: auto;
  grid-template-columns: 200px auto 300px;
  grid-template-rows: 40px 100px 100px;
}

.grid-brewed-detail-edit-name {
  grid-column: 1 / span 3;
  grid-row: 1;
  padding-top: 0.5em;
}

.grid-brewed-detail-edit-rating {
  display: flex;
  grid-column: 3;
  grid-row: 1;
  align-items: center;
  justify-content: flex-end;
}

.grid-brewed-detail-edit-images {
  display: flex;
  grid-column: 1;
  grid-row: 2 / span 2;
  overflow: hidden;
  content: contain;
  align-items: center;
  justify-content: center;
}

.grid-brewed-detail-edit-images > img {
  height: 200px;
  width: auto;
}

.grid-brewed-detail-edit-type {
  grid-column: 2 / span 2;
  grid-row: 2;
  padding-top: 2em;
}

.grid-brewed-detail-edit-abv {
  grid-column: 2 / span 2;
  grid-row: 3;
  padding-top: 2em;
}

.grid-brewed-detail-title {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: [col1-start] auto [col2-start] auto [col3-start] auto [col4-start] 40px [col4-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

.grid-brewed-detail-title-text {
  grid-column: col1-start / col2-start;
  grid-row: row1-start;
}

.grid-brewed-detail-type-text {
  grid-column: col2-start / col3-start;
  grid-row: row1-start;
}

.grid-brewed-detail-ABV-text {
  grid-column: col3-start / col4-start;
  grid-row: row1-start;
}

.grid-brewed-detail-favourite-image {
  grid-column: col4-start / col4-end;
  grid-row: row1-start / row2-end;
  overflow: hidden;
  object-fit: contain;
}

.grid-brewed-detail-brewdate-text {
  grid-column: col1-start / col3-start;
  grid-row: row2-start;
}

.grid-brewed-detail-description {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: [col1-start] 100px [col2-start] calc(100% - 100px) [col2-end];
}

.grid-brewed-detail-image {
  grid-column: col1-start / col2-start;
}

.grid-brewed-detail-image-size {
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
}

.grid-brewed-detail-description-text {
  grid-column: col2-start;
  text-align: justify;
}

.grid-brewed-detail-recipe {
  display: grid;
  width: 100%;
  margin: auto;
}

.grid-brewed-detail-tasting {
  display: grid;
  width: 100%;
  margin: auto;
}

.header {
  cursor: pointer;
  border: solid 1px #f2f2f2;
  padding: 15px 5px;
  /* background-color: #0089CC; */
  background-color: #001a33;
  color: #fff;
}

.content {
  cursor: pointer;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  border-radius: 0 0 5px 5px;
  padding: 5px;
  font-size: 14px;
}

.brewed-beer-recipe-column {
  padding: 5px;
}

.brewed-beer-recipe {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
}

.brewed-beer-recipe-description {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.brewed-beer-recipe-type {
  grid-column: 1;
  grid-row: 2;
  margin-top: 0.5em;
}

.brewed-beer-recipe-expected-abv {
  grid-column: 2;
  grid-row: 2;
  margin-top: 0.5em;
}

.brewed-beer-recipe-ingredients-water-profile {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.brewed-beer-recipe-steps {
  grid-column: 1 / span 2;
  grid-row: 4;
}

.brewed-beer-water-profile-column {
  padding: 5px;
}

.brewed-beer-water-profile-item {
  margin-top: 0.5em;
}

.brewed-beer-ingredient-item {
  margin-top: 0.5em;
}

.double-collapsible-panel {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 50% 50%;
}

.double-collapsible-panel-left-column {
  grid-column: 1;
}

.double-collapsible-panel-right-column {
  grid-column: 2;
}

.fabStyling {
  position: 'float';
  bottom: 5px;
  right: 5px;
  height: 35;
  width: 35;
}

.fabStyling:focus {
  outline: none;
}

.main-menu {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 75px;
  margin: auto;
  width: 100%;
  background-image: url(./resources/grain.jpg);
  background-size: 50%;
  background-position: 0px 35%;
  /* opacity: 75%; */
}

.main-menu > div {
  display: flex;
  font-size: 35px;
  justify-content: center;
  align-items: center;
}

.main-menu-brews {
  grid-column: 2;
}

.main-menu-recipes {
  grid-column: 3;
}

.main-menu-water {
  grid-column: 4;
}

.main-menu-button {
  border: 2.5px solid white;
  border-radius: 3px;
  color: white;
}

.main-menu-button-background {
  background-color: rgba(211, 211, 211, 0.4);
  display: flex;
  line-height: 40px;
  padding: 3px;
}

.main-menu-button:hover {
  border-color: #001a33;
  color: #001a33;
}

.testMainPage {
  margin-top: 75px;
  padding-left: 2%;
  padding-right: 2%;
  height: calc(100vh - 75px);
  overflow-y: scroll;
}

.recipe-summary-container {
  display: grid;
  grid-template-columns: 60% 30% 10%;
  grid-template-rows: 75px 100px;
  margin-top: 10px;
  width: 100%;
}

.recipe-summary-name {
  grid-column: 1;
  grid-row: 1;
}

.recipe-summary-type {
  grid-column: 2;
  grid-row: 1;
}

.recipe-summary-favourite {
  text-align: right;
  grid-column: 3;
  grid-row: 1;
  padding-right: 5px;
}

.recipe-summary-description {
  grid-column: 1 / span 3;
  grid-row: 2;
  overflow: hidden;
}

.water-profile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
}

.water-profile-container > div::before {
  content: '';
  padding-bottom: 15%;
  display: block;
}

.recipe-detail {
  padding-top: 15px;
}

.expander-top-right {
  float: right;
}

.recipe-detail-title-container {
  display: grid;
  grid-template-columns: 85% 15%;
  width: 100%;
}

.recipe-detail-title {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.recipe-detail-favourite {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  padding-right: 5px;
  z-index: 1;
}

.water-profile-summary-container {
  padding-left: 5px;
}

.water-profile-summary-name {
  margin-top: 10px;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding: 2.5em 1.5em 1.5em 1.5em; */
  padding: 10px 15px 5px 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 300px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-titlebar-container {
  display: grid;
  grid-template-columns: 1fr 40px;
}

._modal-titlebar-container-small {
  display: grid;
  grid-template-columns: 1fr 25px;
}

._modal-title {
  grid-column: 1;
  grid-row: 1;
  color: #001a33;
}

._modal-close {
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  grid-column: 2;
  grid-row: 1;
  width: 40px;
  height: 40px;
}

._modal-close-small {
  top: 0;
  right: 0;
  padding: 0.3em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
  grid-column: 2;
  grid-row: 1;
  width: 25px;
  height: 25px;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

._modal-close-icon-small {
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding: 5px 5px 5px 5px;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

.edit-page-indicator-container {
  display: grid;
  grid-template-columns: 1fr 20px 20px 20px 1fr;
  column-gap: 3px;
  width: 100%;
  color: #001a33;
}

.edit-page-indicator-page1 {
  grid-column: 2;
}

.edit-page-indicator-page2 {
  grid-column: 3;
}

.edit-page-indicator-page3 {
  grid-column: 4;
}

.edit-page-container {
  margin: 10px 0px 10px 0px;
}
.edit-page-container-item {
  margin: 15px 0px 10px 0px;
}
.edit-page-recipe-ingredient-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 33px 33px;
  padding-bottom: 8px;
}

.edit-page-recipe-ingredient {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.edit-button {
  text-align: center;
  padding-right: 5px;
  z-index: 1;
  grid-column: 2;
  grid-row: 1;
}

.cancel-button {
  text-align: center;
  padding-right: 5px;
  z-index: 1;
  grid-column: 3;
  grid-row: 1;
  color: darkgray;
}

.new-ingredient {
  grid-column: 1;
  grid-row: 1;
}

.add-button {
  grid-column: 2;
  grid-row: 1;
}
.edit-ingredient-container {
  grid-column: 0 / span 3;
  display: grid;
  grid-template-columns: 1fr 75px;
  grid-template-rows: auto auto;
  border-collapse: separate;
  border: solid rgb(105, 97, 97) 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  margin-bottom: 10px;
  width: 98%;
}

.new-ingredient-container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 75px;
  grid-template-rows: auto auto;
  margin-top: 5px;
  width: 98%;
}

.new-ingredient-title {
  grid-column: 1 / span 4;
  grid-row: 1;
}

.new-ingredient-name {
  grid-column: 2;
  grid-row: 2;
  margin-top: 10px;
}

.new-ingredient-type {
  grid-column: 3;
  grid-row: 2;
  margin-top: 10px;
}

.new-ingredient-volume {
  grid-column: 2;
  grid-row: 3;
  margin-top: 10px;
}

.new-ingredient-unit {
  grid-column: 3;
  grid-row: 3;
  margin-top: 10px;
}

.new-ingredient-add {
  grid-column: 3 / span 2;
  grid-row: 4;
  text-align: right;
}

.inline-edit-button-container {
  grid-row: 2;
  grid-column: 1 / span 3;
  text-align: right;
}

.inline-edit-button {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  max-width: 100px;
}

.inline-edit-recipe-container {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.inline-edit-recipe-name {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  max-width: 200px;
}
.inline-edit-recipe-type {
  display: inline-block;
  grid-row: 1;
  grid-column: 2;
  position: relative;
  margin-top: 5px;
  max-width: 100px;
  min-width: 100px;
}
.inline-edit-recipe-amount {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  max-width: 55px;
}
.inline-edit-recipe-unit {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  max-width: 75px;
}

.test-group-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-collapse: separate;
  border: solid rgb(105, 97, 97) 1px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.test-group-container-header {
  margin-top: -106px;
  margin-left: 8px;
  margin-bottom: 0px;
  background-color: white;
  padding-left: 3px;
  padding-right: 3px;
  width: fit-content;
  height: fit-content;
  font-size: small;
  color: rgb(105, 97, 97);
}

.edit-page-recipe-title-container {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  border-bottom: solid darkgray 1px;
  color: darkgray;
  font-size: 18px;
}

.edit-page-recipe-step-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50px 50px 33px;
  padding-bottom: 8px;
}

.edit-page-recipe-step-container-description {
  grid-column: 1;
}

.edit-page-recipe-step-container-timer {
  grid-column: 2;
}

.edit-page-recipe-step-container-timer-unit {
  grid-column: 3;
}

.edit-page-recipe-step-container-delete {
  text-align: center;
  padding-right: 5px;
  z-index: 1;
  grid-column: 4;
  color: darkgray;
}

.new-step-container {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 55px;
  grid-template-rows: auto auto;
  margin-top: 5px;
  width: 98%;
}

.edit-step-container {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 55px 50px;
  grid-template-rows: auto auto;
  margin-top: 5px;
  width: 98%;
}

.inline-edit-recipe-step-container {
  grid-row: 1;
  grid-column: 1 / span 2;
}
.inline-edit-step-description {
  display: inline-block;
  position: relative;
  grid-row: 1;
  grid-column: 1;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
.inline-edit-step-timer {
  display: inline-block;
  position: relative;
  grid-row: 1;
  grid-column: 2;
  margin-right: 5px;
}
.inline-edit-step-timer-unit {
  align-self: flex-end;
  display: flex;
  grid-row: 1;
  grid-column: 3;
  margin-bottom: 9px;
  margin-right: 5px;
}

.recipe-grid-container {
  display: grid;
  grid-template-columns: 1fr 55px;
  grid-template-rows: auto auto;
  margin-bottom: 5px;
}

.recipe-grid-container-step {
  grid-row: 1;
  grid-column: 1;
  font-weight: bold;
}

.recipe-grid-container-description {
  grid-row: 2;
  grid-column: 1;
}

.recipe-grid-container-timer {
  grid-row: 2;
  grid-column: 2;
  text-align: right;
  margin-right: 5px;
}

.MuiCircularProgress-root {
  margin-left: 15px;
}

.CentreLoadingIndicator {
  left: 46%;
  position: absolute;
  top: 44vh;
  color: #001a33 !important;
}
